*{
    font-family: 'Roboto', sans-serif;
}

header{
    .navbar{
        .navbar-brand{
            span{
                color: white;

                &:hover{
                    color: gray;
                }
            }
        }
    }
}
main{
    .content{
        .start_section{
            width: 100%;
            height: 100vh;
            background-color: #252526;
            background-image: url('/Images/I.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;

            .infoAria{
                position: relative;
                .infoAria-info-text{
                    position: absolute;
                    top: 15%;
                    
                    color: white;
                }

                .infoAria-info-btn{
                    position: absolute;
                    bottom: 15%;

                    .btn{
                        width: 250px;

                        font-size: 26px;
                        font-weight: 700;

                        color: white;                            

                        &:hover{
                            color: rgb(30, 30, 30);
                        }
                    }
                }
            }
        }

        .carousel_wrapper{
            .carousel-blackout{
                background-color:rgb(50, 50, 50);
            }
        }

        .content-main-tabs {
            .nav-tabs{
                .nav-item {
                    .nav-link {
                        line-height: 2rem;

                        font-weight: 600;

                        color:rgb(50, 50, 50);
                    }

                    #home-tab {
                        font-size: 30px;
                        font-weight: 900;
                        color: rgb(255, 100, 100);
                    }
                }
            }

            .tab-content {
                .tab-pane {
                    .info_cards {
                        padding-left: 0 !important;
                                padding-left: 0 !important;
                    }
                }
            }
        }

        .contactWithMe {
            h1 {
                font-size: 40px;
                font-weight: 600;
            }
        }
    }
}

footer{
    .card{
        .row{
            background-color: rgb(51, 51, 51);

            .right{
                .card-body{
                    .card-title{
                        color: white;
                    }
                    .card-text{
                        color: lightgrey;
                    }
                }
            }
        }
    }
}