*{
    font-family: 'Roboto', sans-serif;
}

header{
    .navbar{
        .navbar-brand{
            color: white;

            &:hover{
                color: gray;
            }
        }
    }
}
main{
    .content{
        background-color: rgb(165, 165, 165);

        .start_section{
            width: 100%;
            height: 100vh;
            background-color: gray;

            .infoAria{
                .btn{
                    width: 250px;
                    font-size: 26px;
                    font-weight: 600;
                    margin-top: 62.25px;
                }
            }
        }

        .carousel_wrapper{
                .carousel-blackout{
                    background-color:rgb(50, 50, 50);

                    .carousel{
                }
            }
        }

        .info_cards {
            .row {
                .col {
                    .card {
                        
                    }
                }
            }
        }
    }
}

footer{
    .card{
        .row{
            background-color: rgb(51, 51, 51);

            .right{
                .card-body{
                    .card-title{
                        color: white;
                    }
                    .card-text{
                        color: lightgrey;
                    }
                }
            }
        }
    }
}